<h1>Sign In</h1>

<%= form_with(url: sessions_path) do |form| %>
  <%= form.label :email_or_username %>
  <%= form.text_field :email_or_username, autofocus: true, required: true %>

  <%= form.label :password %>
  <%= form.password_field :password, required: true %>

  <%= form.submit "Sign In" %>
<% end %>