<% @movie_list.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <%= link_to(movie.title, movie_path(movie)) %>
      </h2>
      <h3>
      <%= release_year(movie)%>
      </h3>
      <h3>
        <%= performance(movie) %>
      </h3>
      <p>
        <%= description(movie) %>
      </p>
    </div>
  </section>
<% end %>

<section class="admin">
  <%= link_to "Add New Movie", new_movie_path, class: "button" %>
</section>
