<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
      <%= image_tag movie.image_file_name%>
    </div>
    <div class="summary">
      <h2>
        <%= link_to(movie.title, movie_path(movie)) %>
      </h2>
      <h3>
        <%= release_year(movie)%>
      </h3>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <h3 class="stars">
        <%= render "shared/stars", percent: movie.average_stars_as_percent%>
      </h3>
      <p>
        <%= description(movie) %>
      </p>
    </div>
  </section>
<% end %>
<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
