<ul>
  <% @movie_list.each do |movie| %>
    <li>
      <strong><%= movie.title %></strong>
      (<%= movie.rating %>):
      <%= performance(movie) %>
    </li>
    <p>
        Description: <%= description(movie) %>
    </p>
    <p>
        Released Date: <%= release_year(movie) %>
    </p>
  <% end %>
</ul>
