<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
    <% if current_user %>
      <div class="faves">
        <%= fave_or_unfave_button(@movie, @favorite) %>
        <div class="count">
          <%= @fans.size %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      <%= release_year(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <div class="reviews">
      <%= render "shared/stars", percent: @movie.average_stars_as_percent%>
      <%= link_to pluralize(@movie.reviews.count, "review"), movie_reviews_path(@movie)%>
    </div>
    <table>
      <tr>
        <th>Director:</th>
        <td><%= @movie.director %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%= @movie.duration %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><%= @movie.description %></td>
      </tr>
    </table>
    <div class="review">
      <%= render "reviews/new" %>
    </div>
  </div>
  <aside>
    <% if @fans.present? %>
      <h4>Fans</h4>
      <ul>
        <% @fans.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @genres.present? %>
      <h4>Genre</h4>
      <ul>
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, genre_path(genre) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </aside>
</section>
<% if current_user_admin? %>
  <section class="admin">
    <%= link_to("Edit", edit_movie_path(@movie), class: "button") %>
    <%= link_to "Delete", @movie, class: "button", data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
  </section>
<% end %>
